<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reportDetail.dao.ReportDetailDAO">

	<resultMap type="ReportDetailVO" id="reportDetailMap">
		<result column="main_category" property="mainCategory"/>
		<result column="middle_category" property="middleCategory"/>
		<result column="consulting_report" property="consultingReport"/>
		<result column="admin_name" property="adminName"/>
		<result column="consulting_date" property="reportYMD"/>
		<result column="c_date" property="reportYMD"/>
	</resultMap>

	<select id="selectReportDetailByEmpNo" resultMap="reportDetailMap" resultType="reportDetailVO" parameterType="reportDetailVO">
		select 
			client_id as id, 
			(select name from t_hana_user where id= e.client_id) as name,
			substr((select reg_no from t_hana_user where id = e.client_id), 1, 6) as birth,
			main_category,
			(SELECT code_val  FROM t_hana_code_table WHERE code_key = middle_category AND code_category = 4) as middle_category,
			title,
			consulting_report,
			(select name from t_hana_teller where emp_no = e.teller_emp_no) as admin_name,
			teller_emp_no as empNo,
			<!-- to_char(consulting_date, 'yy-mm-dd') as consulting_date  -->
			
			case when to_char(to_date(#{reportYMD}), 'yyyy-mm-dd') = to_char(consulting_date, 'yyyy-mm-dd') then to_char(consulting_date, 'hh24:mi:ss') else to_char(consulting_date, 'yyyy-mm-dd') end as c_date
			
		from t_hana_report e
		where teller_emp_no = #{empNo}
		order by consulting_date desc
	</select>
	
	<select id="selectReportCountByEmpNo" resultMap="reportDetailMap" resultType="reportDetailVO" parameterType="reportDetailVO">
		select 
			client_id as id,
			to_char(consulting_date, 'yy-mm-dd') as consulting_date
		from t_hana_report
		where teller_emp_no = #{empNo} and to_char(consulting_date, 'yyyy-mm-dd') = #{reportYMD}
	</select>	
</mapper>