<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teller.teller.dao.TellerDAO">

	<resultMap type="TellerVO" id="tellerMap">
	<!-- 같은 애들은 안써도 된다. 즉 밑에 4개 안써도 됨. -->
		<result column="emp_no" property="empNo"/>
		<result column="reg_date" property="regDate"/>
	</resultMap>
	
	<select id="login" resultMap="tellerMap" parameterType="TellerVO" resultType="TellerVO">
		select emp_no, password, name, reg_date
			from t_hana_teller
			where emp_no = #{empNo} and password = (SELECT standard_hash (#{password}, 'SHA256') FROM dual)
	</select>
	
</mapper>