<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="client.user.dao.UserDAO">

	<resultMap type="UserVO" id="userMap">
	<!-- 같은 애들은 안써도 된다. 즉 밑에 4개 안써도 됨. -->
		<result column="reg_no" property="regNo"/>
		<result column="reg_date" property="regDate"/>
	</resultMap>
	
	<select id="login" resultMap="userMap" parameterType="UserVO" resultType="UserVO">
		select id, password, name, reg_no, tel, reg_date
			from t_hana_user
			where id = #{id} and password = #{password}
	</select>
	
	<select id="getUserInfo" resultMap="userMap" parameterType="string" resultType="UserVO">
		select id, password, name, reg_no, tel, reg_date
			from t_hana_user
			where id = #{id}
	</select>
	
</mapper>